<div class="content">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h3>Welcome {{user.userName}}</h3>
            {{!-- Beers Reviews --}}
            {{#each data}}
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m8">
                            <h3 class="header">{{beer.beer_name}}</h3>
                            <div class="card horizontal">
                                <div class="card-image">
                                    <img class="search-result-img" src="/img/beer-pint-hazy-light.png">
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <p>Style: {{beer.beer_type}}</p>
                                        <p> Description: {{beer.beer_description}}</p>
                                        <p>Average Rating: {{beer.avg_rating}}</p>
                                    </div>
                                    <div class="card-action row">

                                        <ul class="collapsible review-collapsible">
                                            <li>
                                                <a class="reviews-header collapsible-header col s8" data-id="{{beer.id}}">Read Reviews</a>
                                                <a class="col s3" href="#" id="writereview" data-id="{{beer.id}}">
                                                    Write a Review
                                                </a>
                                                <div class="collapsible-body">
                                                    {{#unless reviews}}
                                                    <p>This beer hasn't been reviewed yet</p>
                                                    {{/unless}}
                                                    {{#each reviews}}
                                                    <div class="row">
                                                        <br>
                                                        <div class="col s12">
                                                            <div>{{user.userName}} gives this beer {{reviewRating}} out of 5 dancing ninjas</div>
                                                            <div class="beer-rev-info">
                                                                <div class="beer-rev-body" data-id={{beer.id}}>
                                                                    <p>They say:</p>
                                                                        <p>{{reviewParagraph}}<br>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                </div>

                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {{!-- Side-info --}}
                        <div class="col hide-in-small s1 m4">stuff</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../bin/materialize.js"></script>
    <script src="js/init.js"></script>



    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/profile.js"></script>